<div class="container text-center">
			<h2>Lorem ipsum dolor sit amet<br> consectetur adipisicing elit. Ab, dolorum.</h2>
			<div class="row"><br><br><br></div>
			<div class="row">
				<div class="col-xs-5 col-sm-5 col-md-5 col-lg-5">
					<img src="./images/user.png" style="width: 200px">
					<h3>Lorem ipsum dolor sit amet, consectetur.</h3>
					<a href="/user/signup"><button class="btn btn-primary" >Get Started</button></a>
				</div>
				<div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
					<svg height="400px" width="100%">
 					 <line x1="50%" y1="80" x2="50%" y2="1000" style="stroke:rgb(0, 140, 255);stroke-width:2" />	
 				</div>
				<div class="col-xs-5 col-sm-5 col-md-5 col-lg-5">
					<img src="./images/search.png" style="width: 200px">
					<h3>Lorem ipsum dolor sit amet, consectetur.</h3>
					<a href="/type"><button class="btn btn-primary" >Get Started</button></a>
				</div>
			</div>
				
</div>